@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Hubballi', cursive;
    @apply duration-500;
}

:root {
    --ti-cursor-color: theme('colors.mint');
}

@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        box-shadow: theme('boxShadow.lg');
        @apply shadow-lg;

    }
}
